/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto+Serif:opsz,wght@8..144,100;8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* Custom Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Serif', serif;
}

html {
    font-size: 15px;
    font-family: Roboto, serif;
    text-align: center; /* debug purpose */
}

/* Colors */
:root {
    --color: #6c63ff;
    --sidebar: #d3d5f5;
    --main: #e9eaf6;
    --general: #fff;
}

/* Main Grid Layout */
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-template-areas:
        'sidebar header' /*row 1 */
        'sidebar content' /* row 2 */
        'sidebar footer' /* row 3 */;
}

.grid-container > * {
    padding: 10px;
}

/* Grid Items Layout */

/* Sidebar */
.sidebar {
    background-color: var(--sidebar);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.8fr 1fr;
    grid-template-areas: 'sidebar-title' 'menu-items' 'menu-settings';
}

.sidebar-title {
    grid-area: sidebar-title;
    display: flex;
    align-items: start;
    padding-top: 15px;
}
.logo {
    height: auto;
    width: 4rem;
}

.dash-title {
    color: var(--color);
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
}

.menu-items {
    grid-area: menu-items;
    align-content: end;

}

.menu-settings {
    grid-area: menu-settings;
}

.menu {
    justify-self: start;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
}

.menu > li {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: space-between;
    color: var(--color);
}

/* Header */
.header {
    grid-area: header;
    margin-left: 30px;
    margin-right: 80px;
}

.header-search,
.header-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    width: clamp(60px, 50vw, 800px);
    height: 25px;
    background-color: var(--main);
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 12px;
}

.notification {
    margin-left: auto;
}

.header-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.name-greeting,
.author {
    text-align: start;
    font-size: 0.7rem;
}

.btn {
    border-radius: 15px;
    width: 75px;
    height: 25px;
    font-size: 11px;
    font-weight: 500;
    background-color: var(--sidebar);
    color: var(--color);
    border: none;
}

/* Main Content */
.content {
    background-color: var(--main);
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: var(--main);
}

/* Hoover effect on clickable items */

.menu > li:hover,
.clickable:hover {
    transform: scale(1.08);
}

/* Avatar */

.avatar {
    border-radius: 50%;
}

.avatar.small {
    height: auto;
    width: 40px;
}

.avatar.large {
    height: auto;
    width: 60px;
}
