/* Custom Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Roboto, serif;
    text-align: center; /* debug purpose */
}

:root {
    --color: #6c63ff;
}

/* Grid Container */
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 5fr 0.5fr;
}

.grid-container > * {
    padding: 10px;
}

/* Header */
.header {
    background-color: peachpuff; /* debug purpose */
    grid-column: 2 / 3;
}

/* Sidenav */
.sidenav {
    background-color: lightblue; /* debug purpose */
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
}

.sidenav-logo {
    display: flex;
    margin-bottom: 3rem;
}

.sidenav-logo > img {
    height: auto;
    width: 2rem;
}

.sidenav-logo > h1 {
    color: var(--color);
}

.sidenav-menu {
    margin-bottom: 2rem;
}

.sidenav-menu > li,
.sidenav-menu2 > li {
    display: flex;
    gap: 0.5rem;
    color: var(--color);
    align-items: center;
    margin-top: 0.3rem;
}

.sidenav-menu > li > img,
.sidenav-menu2 > li > img {
    height: auto;
    width: 1.2rem;
}

/* Main Content */
.content {
    background-color: lightgray; /* debug purpose */
    grid-column: 2 / 3;
}

/* Footer */
.footer {
    background-color: gray; /* debug purpose */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
